# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_theme_packages/

# Ruby
*.gem
.bundle/
vendor/
Gemfile.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ruby version managers
.rbenv-version
.rvmrc
.ruby-version

# Local development
.env

!.gitkeep
